.gesture_password_table{
	width: 100%;
	height: 100%;
}
.gesture_password_table  tr  td {
	font-size: 7px;
	padding-left: 10px;
	cursor: pointer;
	color: white;
}
.gesture_password_table  tr  td div.node {
	width: 70px;
	height: 70px;
	-webkit-border-radius:70px;
	-moz-border-radius: 70px;
	border-radius: 70px;
	cursor: pointer;
	background-position: center center; 
	background-repeat: no-repeat; 
	border: 2px solid black;
	background-color: white;
}
.untouched_node{
	background: -webkit-gradient(radial, center center, 0, center center, 460, from(#fafafa), to(#2F2727)); 
	background: -webkit-radial-gradient(circle, #fafafa, #2F2727); /* Firefox 3.6+ */ 
	background: -moz-radial-gradient(circle, #fafafa, #2F2727); /* IE 10 */ 
	background: -ms-radial-gradient(circle, #fafafa, #2F2727); 
}
.touched_node{
	background: -webkit-gradient(radial, center center, 0, center center, 460, from(#1a82f7), to(#2F2727)); 
	background: -webkit-radial-gradient(circle, #1a82f7, #2F2727); /* Firefox 3.6+ */ 
	background: -moz-radial-gradient(circle, #1a82f7, #2F2727); /* IE 10 */ 
	background: -ms-radial-gradient(circle, #1a82f7, #2F2727); 
}
.gesture_password_table  tr  td div:hover {
	background-color: red;
}

.link{
	position: fixed;
	height: 8px;
	background-color: blue;
	display: none;
}
.n{
	width: 	30px;
	margin-left: 21px;
	margin-top: -88px; 
	transform: rotate(-90deg);
}
.ne{
	width: 	75px;
	margin-left: 54px;
	margin-top: -81px; 
	transform: rotate(-45deg);
}
.e{
	width: 	35px;
	margin-left: 66px;
	margin-top: -40px; 
	transform: rotate(0deg);
}
.se{
	width: 	75px;
	margin-left: 48px;
	margin-top: 11px; 
	transform: rotate(45deg);
}
.s{
	width: 	30px;
	margin-left: 21px;
	margin-top: 10px; 
	transform: rotate(90deg);
}
.sw{
	width: 	75px;
	margin-left: -54px;
	margin-top: 10px; 
	transform: rotate(135deg);
}
.w{
	width: 	30px;
	margin-left: -30px;
	margin-top: -38px; 
	transform: rotate(180deg);
}
.nw{
	width: 	75px;
	margin-left: -54px;
	margin-top: -90px; 
	transform: rotate(-135deg);
}

